# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=dee07661-cd8f-472b-8ab9-073ab928453c

    # Set to true to disable all reporting
    B:opt-out=false
}


